@page "/rules"

<h3 class="rules-title">Как се играе?</h3>
<div class="rules">
    <p>Царицата е фигура в шаха, която може да атакува друга фигура, отдалечена на произволно
        разстояние по хоризонталата, вертикалата и диагоналите. Участниците се редуват като на всеки
        свой ход участникът трябва да постави на дъската царица, така че тя да не може да атакува нито
        една от вече поставените царици.
        Играта губи участникът, който е на ред, но не може да постави на дъската царица, така че да
        удовлетворява горното изискване</p>

    <p>Преди начало на играта ще можете да изберете размер на дъската NxM с минимален размер 3х3.</p>
    <p>Не е позволено да пишете еднакви имена, а при празни полета се генерират автоматични такива.</p>
    <p>Имате опцията да изберете дали да играете срещу компютър със зададените от вас данни, или срещу друг човек.</p>
    <p>При стартиране на играта ще виждате имената зададени от вас, дали е ваш ред и колко победи имате. При натискането
        на бутона "Нова игра"
        ще започнете от начало със същите размери, зададени по-рано.
    </p>
</div>

@code {

}
